#total-amount-out {
    color: green;
}

#total-amount-in {
    color: blue;
}

#total-goal {
    color: red;
}

#television-tile {
    background-color: lightgrey;
}

#single-tv {
    background-color: darkgray;
}

li {
    list-style: none;
}

#all-tv {
    background-color: aliceblue;
    border: 1px solid black;
}